In [1]:
from tefas import Crawler
import pandas as pd
from datetime import datetime, timedelta

In [2]:
# Define date range for data retrieval
start_date = datetime(2021, 1, 1)
end_date = datetime(2024, 9, 1)
date_increment = timedelta(days=30)

# Initialize the TEFAS Crawler
tefas_crawler = Crawler()

# List of fund codes and columns
fund_codes = ["KPC", "HKH", "DKH"]
columns = ["code", "date", "price", "market_cap", "number_of_investors"]

In [3]:
# Data Retrieval Loop
all_funds_data = pd.DataFrame(columns=columns)
for fund in fund_codes:
    current_date = start_date
    while current_date <= end_date:
        try:
            # Fetch data for each fund and date range
            fund_data = tefas_crawler.fetch(
                start=current_date,
                end=current_date + date_increment,
                name=fund
            )
            # Add the fund code to the data
            fund_data['code'] = fund
            # Select only the columns we need
            fund_data = fund_data[['code', 'date', 'price', 'market_cap', 'number_of_investors']]
            # Drop rows where all elements are NaN
            fund_data = fund_data.dropna(how='all')
            # Check if fund_data is not empty after dropping NaNs
            if not fund_data.empty:
                all_funds_data = pd.concat([all_funds_data, fund_data], ignore_index=True)
        except Exception as e:
            print(f"Error fetching data for {fund} from {current_date}: {e}")
        # Move to the next date range
        current_date += date_increment

C:\Users\furka\AppData\Local\Temp\ipykernel_15880\1385236446.py:21: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_funds_data = pd.concat([all_funds_data, fund_data], ignore_index=True)

In [4]:
# Sort the DataFrame by 'date' column
all_funds_data = all_funds_data.sort_values(by='date')
all_funds_data = all_funds_data.reset_index(drop=True)

In [5]:
all_funds_data

     code        date      price    market_cap  number_of_investors
0     KPC  2021-01-04   1.361430  5.288881e+07               1936.0
1     KPC  2021-01-05   1.382837  5.408172e+07               1996.0
2     KPC  2021-01-06   1.368444  5.468710e+07               2065.0
3     KPC  2021-01-07   1.376796  5.754096e+07               2123.0
4     KPC  2021-01-08   1.380843  5.950873e+07               2160.0
...   ...         ...        ...           ...                  ...
1796  HKH  2024-08-28   5.932363  2.648821e+09              34485.0
1797  KPC  2024-08-28  11.486361  4.622309e+09              34284.0
1798  KPC  2024-08-29  11.523798  4.624796e+09              34284.0
1799  DKH  2024-08-29   2.162449  1.193828e+08               2886.0
1800  HKH  2024-08-29   5.953492  2.550287e+09              34485.0

[1801 rows x 5 columns]

In [6]:
kpc_fund_data = all_funds_data[all_funds_data['code'] == 'KPC']

In [7]:
kpc_fund_data

     code        date      price    market_cap  number_of_investors
0     KPC  2021-01-04   1.361430  5.288881e+07               1936.0
1     KPC  2021-01-05   1.382837  5.408172e+07               1996.0
2     KPC  2021-01-06   1.368444  5.468710e+07               2065.0
3     KPC  2021-01-07   1.376796  5.754096e+07               2123.0
4     KPC  2021-01-08   1.380843  5.950873e+07               2160.0
...   ...         ...        ...           ...                  ...
1788  KPC  2024-08-23  11.603234  4.737974e+09              34637.0
1790  KPC  2024-08-26  11.378392  4.610151e+09              34529.0
1794  KPC  2024-08-27  11.203509  4.526711e+09              34478.0
1797  KPC  2024-08-28  11.486361  4.622309e+09              34284.0
1798  KPC  2024-08-29  11.523798  4.624796e+09              34284.0

[945 rows x 5 columns]

In [8]:
hkh_fund_data = all_funds_data[all_funds_data['code'] == 'HKH']

In [9]:
hkh_fund_data

     code        date     price    market_cap  number_of_investors
396   HKH  2022-07-20  1.000000  2.024321e+07                863.0
398   HKH  2022-07-21  1.013112  2.050863e+07               1679.0
400   HKH  2022-07-22  1.008169  2.978604e+07               1982.0
402   HKH  2022-07-25  1.005480  3.300152e+07               2122.0
404   HKH  2022-07-25  1.005480  3.300152e+07               2122.0
...   ...         ...       ...           ...                  ...
1786  HKH  2024-08-23  6.097993  2.640104e+09              34750.0
1791  HKH  2024-08-26  5.932837  2.564169e+09              34671.0
1793  HKH  2024-08-27  5.809673  2.505860e+09              34638.0
1796  HKH  2024-08-28  5.932363  2.648821e+09              34485.0
1800  HKH  2024-08-29  5.953492  2.550287e+09              34485.0

[552 rows x 5 columns]

In [10]:
dkh_fund_data = all_funds_data[all_funds_data['code'] == 'DKH']

In [11]:
dkh_fund_data

     code        date     price    market_cap  number_of_investors
888   DKH  2023-06-26  1.038161  3.150078e+06                 33.0
893   DKH  2023-06-27  1.068380  3.330412e+06                 42.0
896   DKH  2023-07-03  1.088403  3.419162e+06                 44.0
899   DKH  2023-07-04  1.137965  3.580394e+06                100.0
900   DKH  2023-07-05  1.135468  3.828010e+06                127.0
...   ...         ...       ...           ...                  ...
1787  DKH  2024-08-23  2.204128  1.229857e+08               2908.0
1789  DKH  2024-08-26  2.169728  1.203455e+08               2899.0
1792  DKH  2024-08-27  2.127251  1.178577e+08               2906.0
1795  DKH  2024-08-28  2.161356  1.195958e+08               2886.0
1799  DKH  2024-08-29  2.162449  1.193828e+08               2886.0

[304 rows x 5 columns]